* {
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
  color: rgb(192, 125, 48);
}

body {
  background-color: rgb(26, 26, 26);
}

main {
  height: calc(100vh - 70px);
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  overflow-y: scroll;
  overflow-x: scroll;
  background-color: rgb(26, 26, 26);
}

button {
  border: none;
  font-weight: lighter;
  width: fit-content;
  padding: 0 10px;
  background-color: rgb(31, 31, 31);
  color: rgb(192, 125, 48);
}
button:hover {
  background-color: rgb(192, 125, 48);
  color: rgb(31, 31, 31);
}

input,
textarea {
  resize: none;
  outline: none;
  border: none;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 70px;
  background-color: rgb(31, 31, 31);
}
nav .logo {
  display: block;
  font-size: calc(1vh + 1vw + 16px);
  letter-spacing: 10px;
  margin: 5px;
  padding: 5px;
  font-weight: lighter;
  background-color: rgb(31, 31, 31);
  color: rgb(192, 125, 48);
}
nav button {
  letter-spacing: 5px;
  font-size: calc(1vh + 1vw + 10px);
}

.editNote {
  font: "Courier New", Courier, monospace;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.editNote .editTitleArea {
  background-color: rgb(26, 26, 26);
  padding: 10px 15px;
  width: 100%;
  font-size: 3rem;
}
.editNote .editTagsArea {
  background-color: rgb(26, 26, 26);
  padding: 10px 20px;
  width: 100%;
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(192, 125, 48);
}
.editNote .editTextArea {
  flex-grow: 1;
  background-color: rgb(26, 26, 26);
  padding: 4vh 4vw;
  font-weight: lighter;
  font-size: 0.8rem;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
}
.editNote .editButtonHolder button {
  font-size: 2rem;
  border-radius: 0;
  width: 50%;
  height: 10vh;
}
.editNote .editButtonHolder button:disabled {
  background-color: rgb(55, 55, 55);
}
.editNote .editButtonHolder button:disabled:hover {
  color: rgb(192, 125, 48);
}
.editNote .editButtonHolder .saveButton,
.editNote .editButtonHolder .exitButton {
  bottom: 0;
  height: 70px;
}

.toggled {
  background-color: rgb(192, 125, 48);
  color: rgb(31, 31, 31);
}

.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-bottom: 70px;
}
.menu .searchBar {
  padding: 0px 0px 0px 10px;
  width: 100%;
  height: 60px;
  font-size: 1.7rem;
  font-weight: lighter;
  background-color: rgb(55, 55, 55);
}
.menu .logOutButton {
  border-radius: 0;
  font-size: 1.7rem;
  width: 100%;
  height: 10vh;
  height: 60px;
  background-color: rgb(55, 55, 55);
}
.menu .logOutButton:hover {
  background-color: rgb(192, 125, 48);
  color: rgb(31, 31, 31);
}
.menu .noteList {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.menu .noteList .noteBanner {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(192, 125, 48);
}
.menu .noteList .noteBanner .previewHolder {
  display: flex;
  flex-direction: column;
}
.menu .noteList .noteBanner .previewHolder:hover .titlePreview,
.menu .noteList .noteBanner .previewHolder:hover .contentPreview {
  font-weight: normal;
}
.menu .noteList .noteBanner .previewHolder .titlePreview {
  font-size: 2rem;
  max-height: 3rem;
  min-height: 3rem;
  line-height: 3rem;
}
.menu .noteList .noteBanner .previewHolder .contentPreview {
  font-size: 1.2rem;
  max-height: 2rem;
  min-height: 2rem;
  line-height: 2rem;
}
.menu .noteList .noteBanner .previewHolder .titlePreview,
.menu .noteList .noteBanner .previewHolder .contentPreview {
  overflow: hidden;
  word-break: break-all;
  font-weight: lighter;
}
.menu .noteList .deleteButton {
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-color: transparent;
  color: rgb(192, 125, 48);
}
.menu .noteList .deleteButton:hover {
  background-color: rgb(192, 125, 48);
  color: rgb(31, 31, 31);
}

#NewNoteButton {
  position: fixed;
  bottom: 0px;
  font-weight: lighter;
  width: 100vw;
  height: 70px;
  background-color: rgb(31, 31, 31);
  color: rgb(192, 125, 48);
  font-size: 4.5rem;
  text-align: center;
}
#NewNoteButton:hover {
  background-color: rgb(192, 125, 48);
  color: rgb(31, 31, 31);
  box-shadow: 5px 5px 5px 5px rgba(31, 31, 31, 0.5);
}
#NewNoteButton p {
  background-color: transparent;
}

.saveMessage {
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 3px;
  background-color: rgb(31, 31, 31);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.newUserContainer,
.loginContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.newUserContainer input,
.newUserContainer button,
.loginContainer input,
.loginContainer button {
  font-size: 2rem;
  margin: 20px;
  padding: 10px;
  display: block;
  color: rgb(192, 125, 48);
}
.newUserContainer input,
.loginContainer input {
  background-color: rgb(26, 26, 26);
  border-bottom: 1px solid rgb(192, 125, 48);
}
.newUserContainer input:focus,
.loginContainer input:focus {
  scale: 1.05;
}
.newUserContainer button,
.loginContainer button {
  width: 40vw;
  border: 1px solid rgb(192, 125, 48);
  background-color: rgb(26, 26, 26);
}
.newUserContainer button:hover,
.loginContainer button:hover {
  scale: 1.08;
}

@media screen and (max-width: 1000px) {
  .menu {
    width: 100%;
  }
  .menu .searchBar {
    font-size: 1.1rem;
  }
  .menu .noteBanner .previewHolder .titlePreview {
    font-size: 1.3rem;
    max-height: 2rem;
    min-height: 2rem;
    line-height: 2rem;
  }
  .menu .noteBanner .previewHolder .contentPreview {
    font-size: 1rem;
    max-height: 1.5rem;
    min-height: 1.5rem;
    line-height: 1.5rem;
  }
  .menu .noteBanner .deleteButton {
    font-size: 1.1rem;
  }
  .loginContainer button,
  .newUserContainer button {
    font-size: 1.5rem;
  }
  .loginContainer .loginInput,
  .newUserContainer .loginInput {
    font-size: 1.6rem;
  }
}
@media screen and (max-height: 600px) {
  .loginContainer,
  .newUserContainer {
    margin-top: 70px;
  }
  .loginContainer button,
  .newUserContainer button {
    font-size: 1.2rem;
  }
  .loginContainer .loginInput,
  .newUserContainer .loginInput {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=App.css.map */
